
body {
    padding: 12px;
    background-color: lightblue;
}

.ui-widget-header {
	font-size: 1.4em;
}

table {
    width: 100%;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr td,th {
    margin: 0px;
    border: 0px;
}

table tr th {
    border-bottom: 1px solid black;
}

#leftside {
    display: inline-block;
    width: 25%;
    float: left;
}

#rightside {
    display: inline-block;
    max-width: 74%;
    float: right;
}

div#layout {
    padding: 3px;
    overflow: auto;
}

.ui-panelgrid {
    width: 100% !important;
}