<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="content">
		<h:form id="dataTable">
			<p:dataTable value="#{clientController.clientList}" var="client">
				<f:facet name="header">All Clients</f:facet>
				<p:column headerText="Name">
					<h:outputText value="#{client.firstName}" />
				</p:column>
				<p:column headerText="Surname">
					<h:outputText value="#{client.lastName}" />
				</p:column>
				<p:column headerText="Birth Date">
					<h:outputText value="#{client.birthDate}" />
				</p:column>
				<p:column headerText="Phone">
					<h:outputText value="#{client.phoneNumber}" />
				</p:column>
				<p:column headerText="Loyal client">
					<h:outputText value="#{client.isLoyal}" />
				</p:column>
				<p:column headerText="Inventory entries">
					<h:outputText value="#{inventoryController.countEntries(client)}" />
				</p:column>
				<p:column headerText="">
					<p:commandButton value="Open"
						action="#{clientController.update(client)}">
					</p:commandButton>
				</p:column>
				<p:column headerText="">
					<p:commandButton value="Delete"
						action="#{clientController.delete(client)}">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>
		</h:form>
		<p:commandButton action="#{clientController.create}"
			update="updateForm" value="Create client"
			oncomplete="PF('createClient').show();" />
		<p:dialog header="Create Client" widgetVar="createClient" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false">
			<h:form id="updateForm">
				<p:outputPanel rendered="#{clientModel.currentClient != null}">
					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel for="name">Name:</p:outputLabel>
						<p:inputText id="name"
							value="#{clientController.clientModel.currentClient.firstName}"
							required="true">
							<f:validateLength minimum="2" maximum="20" />
						</p:inputText>
						<p:message for="name"></p:message>

						<p:outputLabel for="surname">Surname:</p:outputLabel>
						<p:inputText id="surname"
							value="#{clientController.clientModel.currentClient.lastName}"
							required="true">
							<f:validateLength minimum="2" maximum="20" />
						</p:inputText>
						<p:message for="surname"></p:message>

						<p:outputLabel for="birthDate">Date of birth:</p:outputLabel>
						<p:calendar id="birthDate"
							value="#{clientController.clientModel.currentClient.birthDate}">
						</p:calendar>
						<p:message for="birthDate"></p:message>

						<p:outputLabel for="phone">Phone:</p:outputLabel>
						<p:inputText id="phone"
							value="#{clientController.clientModel.currentClient.phoneNumber}">
							<f:convertNumber integerOnly="true" />
						</p:inputText>
						<p:message for="phone"></p:message>

						<p:outputLabel for="loyal">Loyal:</p:outputLabel>
						<h:selectOneMenu id="loyal"
							value="#{clientController.clientModel.currentClient.isLoyal}">
							<f:selectItem itemValue="#{null}" itemLabel="Not selected" />
							<f:selectItem itemValue="true" itemLabel="Loyal" />
							<f:selectItem itemValue="false" itemLabel="Normal" />
						</h:selectOneMenu>
						<p:message for="loyal"></p:message>

						<p:commandButton value="Save"
							actionListener="#{clientController.save}"
							update="updateForm dataTable"
							oncomplete="if (!args.validationFailed) PF('createClient').hide();">
						</p:commandButton>
						<p:commandButton value="Cancel"
							actionListener="#{clientController.cancel}"
							update="updateForm dataTable"
							oncomplete="PF('createClient').hide();" immediate="true">
						</p:commandButton>
					</h:panelGrid>
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="title">
          All clients
    </ui:define>

</ui:composition>