<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="title">
        Client information
    </ui:define>
    <ui:define name="leftside">
        <h:form id="clientInfo">
            <p:panelGrid columns="2">
                <f:facet name="header">Client Info</f:facet>
                <h:outputText value="Name:" />
                <h:outputText value="#{clientModel.currentClient.firstName}" />
                
                <h:outputText value="Surname:" />
                <h:outputText value="#{clientModel.currentClient.lastName}" />
                
                <h:outputText value="Birth date:" />
                <h:outputText value="#{clientModel.currentClient.birthDate}" />
                
                <h:outputText value="Phone:" />
                <h:outputText value="#{clientModel.currentClient.phoneNumber}" />
                
                <h:outputText value="Loyal:" />
                <h:outputText value="#{clientModel.currentClient.isLoyal}" />
            </p:panelGrid>
            <p:commandButton value="Update"
                rendered="#{clientModel.currentClient != null}"
                update="clientInfo clientForm"
                oncomplete="PF('updateClient').show();" />
        </h:form>
        <p:dialog header="Edit Client" widgetVar="updateClient"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="clientForm">
                <p:outputPanel rendered="#{clientModel.currentClient != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="name">Name:</p:outputLabel>
                        <p:inputText id="name"
                            value="#{clientController.clientModel.currentClient.firstName}"
                            required="true">
                            <f:validateLength minimum="2" maximum="20"/>
                        </p:inputText>
                        <p:message for="name"></p:message>
                        
                        <p:outputLabel for="surname">Surname:</p:outputLabel>
                        <p:inputText id="surname"
                            value="#{clientController.clientModel.currentClient.lastName}"
                            required="true">
                            <f:validateLength minimum="2" maximum="20"/>
                        </p:inputText>
                        <p:message for="surname"></p:message>
                        
                        <p:outputLabel for="birthDate">Date of birth:</p:outputLabel>
                        <p:calendar id="birthDate"
                            value="#{clientController.clientModel.currentClient.birthDate}">
                        </p:calendar>
                        <p:message for="birthDate"></p:message>

                        <p:outputLabel for="phone">Phone:</p:outputLabel>
                        <p:inputText id="phone"
                            value="#{clientController.clientModel.currentClient.phoneNumber}">
                            <f:convertNumber integerOnly="true" />
                        </p:inputText>
                        <p:message for="phone"></p:message>

                        <p:outputLabel for="loyal">Loyal:</p:outputLabel>
						<h:selectOneMenu id="loyal"
							value="#{clientController.clientModel.currentClient.isLoyal}">
							<f:selectItem itemValue="#{null}" itemLabel="Not selected" />
							<f:selectItem itemValue="true" itemLabel="Loyal" />
							<f:selectItem itemValue="false" itemLabel="Normal" />
						</h:selectOneMenu>
						<p:message for="loyal"></p:message>
						
                        <p:commandButton value="Save"
                            actionListener="#{clientController.save}"
                            update="clientForm clientInfo"
                            oncomplete="if (!args.validationFailed) PF('updateClient').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            update="clientForm clientInfo"
                            oncomplete="PF('updateClient').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
    <ui:define name="rightside">
        <h:form id="inventoryTable">
            <p:dataTable value="#{inventoryController.findAllByCurrentClient()}" var="inventory">
                <f:facet name="header">Client Inventory</f:facet>
                <p:column headerText="Name">
                    <h:outputText value="#{inventory.name}" />
                </p:column>
                <p:column headerText="Weight">
                    <h:outputText value="#{inventory.weight}" />
                </p:column>
                <p:column headerText="Sector">
                    <h:outputText value="#{inventory.sector}" />
                </p:column>
                <p:column headerText="Entry date">
                    <h:outputText value="#{inventory.entryDate}" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Update"
                        action="#{inventoryController.update(inventory)}" 
                        update="updateForm"
                        oncomplete="PF('createInventory').show();" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Delete" update="@form" immediate="true"
                        actionListener="#{inventoryController.delete(inventory)}">
                        <p:confirm header="Confirmation" message="Are you sure?"
                            icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button"
                            styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button"
                            styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:commandButton action="#{inventoryController.create}"
            update="updateForm" value=" Create"
            oncomplete="PF('createInventory').show();" />
        <p:dialog header="Create/Edit Inventory" widgetVar="createInventory"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="updateForm">
                <p:outputPanel rendered="#{inventoryModel.currentInventory != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                    
                        <p:outputLabel for="name">Name:</p:outputLabel>
                        <p:inputText id="name"
                            value="#{inventoryController.inventoryModel.currentInventory.name}">
                            <f:validateLength maximum="20"/>
                        </p:inputText>
                        <p:message for="name"></p:message>
                        
                        <p:outputLabel for="weight">Weight:</p:outputLabel>
                        <p:inputText id="weight"
                            value="#{inventoryController.inventoryModel.currentInventory.weight}">
                        </p:inputText>
                        <p:message for="weight"></p:message>
                        
                        <p:outputLabel for="sector">Sector:</p:outputLabel>
                        <p:inputText id="sector"
                            value="#{inventoryController.inventoryModel.currentInventory.sector}">
                            <f:validator binding="#{sectorValidator}" />
                        </p:inputText>
                        <p:message for="sector"></p:message>                    

                        <p:commandButton value="Save"
                            actionListener="#{inventoryController.save}"
                            update="updateForm inventoryTable"
                            oncomplete="if (!args.validationFailed) PF('createInventory').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{inventoryController.cancel}"
                            update="updateForm inventoryTable"
                            oncomplete="PF('createInventory').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>