<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Warehouse: <ui:insert name="title">
            No title
        </ui:insert>
	</title>
	<h:outputStylesheet name="styles.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<div id="menu">
			<h:form>
				<p:tabMenu activeIndex="#{param.i}">
					<p:menuitem value="Clients" outcome="list-clients"
						icon="ui-icon-person">
						<f:param name="i" value="0" />
					</p:menuitem>
					<p:menuitem value="Reports" outcome="list-reports"
						icon="ui-icon-folder-open">
						<f:param name="i" value="1" />
					</p:menuitem>
				</p:tabMenu>
			</h:form>
		</div>
		<div id="layout">
			<div id="leftside">
				<ui:insert name="leftside" />
			</div>
			<div id="rightside">
				<ui:insert name="rightside" />
			</div>
		</div>
		<div id="contents">
			<ui:insert name="content" />
		</div>
	</div>
</h:body>
</html>
