<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="title">
        Warehouse reports
    </ui:define>
	<ui:define name="content">
		<p:panelGrid columns="1" cellpadding="5">
			<f:facet name="header">All Reports</f:facet>
			<p:commandButton value="Top 5 CLIENTS by warehoused weight"
				oncomplete="PF('clientsByWeight').show();" />
			<p:commandButton
				action="#{reportsController.reportTop5ClientsByUnits}"
				value="Top 5 CLIENTS by inventory units"
				oncomplete="PF('clientsByUnits').show();" />
			<p:commandButton
				action="#{reportsController.reportTop5SectorsByWeight}"
				value="Top 5 SECTORS by warehoused weight"
				oncomplete="PF('sectorsByWeight').show();" />
			<p:commandButton
				action="#{reportsController.reportTop5SectorsByUnits}"
				value="Top 5 SECTORS by inventory units"
				oncomplete="PF('sectorsByUnits').show();" />
		</p:panelGrid>

		<p:dialog header="Top 5 clients by weight" widgetVar="clientsByWeight"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			<p:dataTable value="#{reportsController.reportTop5ClientsByWeight()}"
				var="client">
				<p:column headerText="Name">
					<h:outputText value="#{client.firstName}" />
				</p:column>
			</p:dataTable>
			<p:commandButton value="Exit"
				oncomplete="PF('clientsByWeight').hide();" immediate="true">
			</p:commandButton>
		</p:dialog>
		<p:dialog header="Top 5 clients by units" widgetVar="clientsByUnits"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			<p:dataTable value="#{reportsController.reportTop5ClientsByUnits()}"
				var="client">
				<p:column headerText="Name">
					<h:outputText value="#{client.firstName}" />
				</p:column>
			</p:dataTable>
			<p:commandButton value="Exit"
				oncomplete="PF('clientsByUnits').hide();" immediate="true">
			</p:commandButton>
		</p:dialog>
		<p:dialog header="Top 5 sectors by weight" widgetVar="sectorsByWeight"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			<p:commandButton value="Exit"
				oncomplete="PF('sectorsByWeight').hide();" immediate="true">
			</p:commandButton>
		</p:dialog>
		<p:dialog header="Top 5 sectors by units" widgetVar="sectorsByUnits"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			<p:commandButton value="Exit"
				oncomplete="PF('sectorsByUnits').hide();" immediate="true">
			</p:commandButton>
		</p:dialog>
	</ui:define>
</ui:composition>